.container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 90px;
}
.opcion {
    display: flex;
    flex-direction: column;
}

h3 {
    display: flex;
    justify-content: center;
}

.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}